/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Color de fondo */
}

header, footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
